alias zshrc="vim $HOME/.zshrc"
alias vimrc="vim $HOME/.vimrc"
alias gitconfig="vim $HOME/.gitconfig"
alias jshintrc="vim $HOME/.jshintrc"
alias slate="vim $HOME/.slate.js"
alias al="vim $HOME/.aliases"
alias env="vim $HOME/.env"
alias conf="vim $HOME/.conf"
alias func="vim $HOME/.functions"
alias reload="source $HOME/.aliases"
alias gs="git st"
alias ga="git add -p"
alias gb="git br"
alias gc="git cm"
alias gd="git diff"
alias go="git co"
alias gk="gitk --all&"
alias gx="gitx --all"
alias gt="git semtag"
alias gm="git me --no-ff"
alias hist="git hist"
alias phpserver="php -S localhost:8001"
alias color="pygmentize -O style=monokai -f console256 -g"
alias sublpkg="cd $HOME/Library/Application\ Support/Sublime\ Text\ 3/Packages"
alias filesize="du -s ./* | sort -n | cut -f 2- | xargs -Ix du -sh x"
alias br="brew update && brew upgrade"
alias np="npm update -g"
alias pe="pear update-channels && pear upgrade"
alias ge="gem update"
alias comp="composer self-update"
alias actualizar="br; ge; comp; np; growlnotify -t 'Actualización' -m 'Todo actual y en orden. Casual.'"
alias artisan="php artisan"
alias vaciarpapelera="rm -rfv $HOME/.Trash/*"
alias manage="python manage.py"
alias webgrind="cd $HOME/Sites/webgrind && phpserver"
alias selserver="selenium-server -p 4444"
alias use="rvm use"
alias memoria="top -l 1 | ack 'PhysMem' | growlnotify -t 'Memoria Libre'"
alias composer="hhvm -v ResourceLimit.SocketDefaultTimeout=30 -v Http.SlowQueryThreshold=30000 /usr/local/Cellar/composer/1.0.0-alpha8/libexec/composer.phar"
alias yt="youtube-dl -f 37/22/18/h264-hd"
