alias reload="source $HOME/.aliases"
alias gs="git st"
alias ga="git add -p"
alias gb="git br"
alias gc="git cm"
alias gd="git diff"
alias go="git co"
alias gk="gitk --all&"
alias gx="gitx --all"
alias gt="git tag"
alias gm="git me --no-ff"
alias hist="git hist"
alias br="brew update && brew upgrade"
alias np="npm update -g"
alias yt="youtube-dl -f 37/22/18/h264-hd/h264-sd"
alias yt-hd="youtube-dl -f 299/137,141/140"
