alias zshrc="vim $HOME/.zshrc"
alias vimrc="vim $HOME/.vimrc"
alias gitconfig="vim $HOME/.gitconfig"
alias jshintrc="vim $HOME/.jshintrc"
alias slate="vim $HOME/.slate.js"
alias nf="vim $HOME/.nodefetch.json"
alias al="vim $HOME/.aliases"
alias env="vim $HOME/.env"
alias conf="vim $HOME/.conf"
alias func="vim $HOME/.functions"
alias reload="source $HOME/.aliases"
alias gs="git st"
alias ga="git add -p"
alias gb="git br"
alias gc="git cm"
alias gd="git diff"
alias go="git co"
alias gk="gitk --all&"
alias gx="gitx --all"
alias hist="git hist"
alias phpserver="open http://localhost:8001 && php -S localhost:8001"
alias color="pygmentize -O style=monokai -f console256 -g"
alias sublpkg="cd $HOME/Library/Application\ Support/Sublime\ Text\ 2/Packages"
alias filesize="du -s ./* | sort -n | cut -f 2- | xargs -Ix du -sh x"
alias br="brew update && brew upgrade"
alias np="npm update -g"
alias pe="pear update-channels && pear upgrade"
alias ge="gem update"
alias comp="composer self-update"
alias actualizar="br; ge; comp; np; growlnotify -t 'Actualización' -m 'Todo actual y en orden. Casual.'"
alias artisan="php artisan"
alias libre="top -l 1 | ack '\d{1,4}M free' | xargs echo | growlnotify -t 'Memoria Libre'"
alias purge="purge && libre"
alias vaciarpapelera="rm -rfv $HOME/.Trash/*"
