function mozjpg() {
  mozjpeg -q $1 $2.jpg > $2-$1.jpg
}

function merge-mp4-m4a() {
  ffmpeg -i $1.mp4 -i $1.m4a -acodec copy -vcodec copy output.mp4
}

function git-addremove() {
  git ls-files --deleted | xargs git rm
  git add .
}

function npmls() {
  npm ls --depth=0 "$@" 2>/dev/null
}

function thumbs() {
  mkdir thumbs && parallel "djpeg -scale 1/$1 -ppm {} | pnmscale -pixels 50246 | cjpeg -optimize -progressive > thumbs/{}" ::: *.jpg
}

function mdir() {
  mkdir -p $1 && cd $1
}

function pman() {
  ps=`mktemp -t manpageXXXX`.ps && man -t $@ > "$ps" && open "$ps"
}

function emptyfile() {
  :> $1  # cat /dev/null > $1
  noti -t "Vaciar archivo"
}

function -(){
 cd -;
}

function actualizar(){
 br; nxup; np; noti -t "Actualizar Brew, Nix y Node";
}
