function subl3() {
  if [[ ! -f $1 ]] ; then
    touch $1
  fi
  open -a Sublime\ Text $1
}
function compiler() {
  local compilation=$2
  if [[ $compilation -eq 1 || -z $compilation ]] ; then
    compilation=WHITESPACE_ONLY
  elif [[ $compilation -eq 2 ]] ; then
    compilation=SIMPLE_OPTIMIZATIONS
  else
    compilation=ADVANCED_OPTIMIZATIONS
  fi
  java -jar $HOME/scripts/compiler.jar  --js $1.js --js_output_file $1.min.js --compilation_level $compilation
}
function htmlcompressor(){
  java -jar $HOME/scripts/htmlcompressor.jar $1.html -o $1.min.html
}
function thumbs() {
  mkdir thumbs && parallel "djpeg -scale 1/$1 -ppm {} | pnmscale -pixels 50246 | cjpeg -optimize -progressive > thumbs/{}" ::: *.jpg
}
function mdir() {
  mkdir -p $1 && cd $1
}
function pman() {
  ps=`mktemp -t manpageXXXX`.ps && man -t $@ > "$ps" && open "$ps"
}
function emptyfile() {
  :> $1  # cat /dev/null > $1
  growlnotify -t 'EmptyFile' -m 'Acción completada.'
}
function server() {
  local port=$1
  if [[ -z $port ]] ; then
    port=8000
  fi
  sleep 1 && open "http://localhost:$port/"
  python $HOME/scripts/server.py $port
}
