.config/mpv/watch_later
.config/bat/themes/*
.config/mpv/scripts/*
.config/mpv/shaders/*
.config/yazi/flavors/*
.config/yazi/plugins/*
.config/zellij/plugins/*
.config/zellij/themes/*

.config/noctalia/location.toml
.config/sunsetr/geo.toml

!.config/bat/themes/.gitkeep
!.config/mpv/scripts/.gitkeep
!.config/mpv/shaders/.gitkeep
!.config/yazi/flavors/.gitkeep
!.config/zellij/plugins/.gitkeep
!.config/zellij/themes/.gitkeep
