[user]
  name = Omar Gómez Figueroa
  email = shadeogf@gmail.com
[core]
	autocrlf = input
  safecrlf = true
  editor = vim
  excludesfile = ~/.gitignore_global
  attributesfile = ~/.gitattributes
[alias]
  co = checkout
  cm = commit
  st = status
  br = branch
  me = merge
  gr = grep --break --heading --line-number
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  semtag = !git tag -a $(semver tag) -m \"tagging $(semver tag)\"
[merge]
  keepBackup = false
  tool = extMerge
[mergetool "extMerge"]
  cmd = extMerge "$PWD/$BASE" "$PWD/$REMOTE" "$PWD/$LOCAL" "$PWD/$MERGED"
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false
  trustExitCode = false
[diff]
  external = extDiff
[color]
  ui = true
[credential]
  helper = osxkeychain
[push]
  default = simple
[help]
  autocorrect = 1
[grep]
  extendRegexp = true
  lineNumber = true
