[user]
  name = Omar Figueroa
  email = omar.figueroa@protonmail.com
	signingkey = 1D4B323A88EA3481
[core]
  autocrlf = input
  safecrlf = false
  editor = vim
  excludesfile = ~/.gitignore_global
  attributesfile = ~/.gitattributes
	pager = diff-so-fancy | less --tabs=4 -RFX
[alias]
  co = checkout
  cm = commit
  st = status
  br = branch
  me = merge
  gr = grep --break --heading --line-number
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  semtag = !git tag -a $(semver tag) -m \"tagging $(semver tag)\"
[merge]
  keepBackup = false
  tool = extMerge
[mergetool "extMerge"]
  cmd = extMerge "$PWD/$BASE" "$PWD/$REMOTE" "$PWD/$LOCAL" "$PWD/$MERGED"
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false
[color]
  ui = true
[credential]
  helper = osxkeychain
[push]
  default = simple
[help]
  autocorrect = 1
[grep]
  extendRegexp = true
  lineNumber = true
[filter "media"]
  required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
