.config/mpv/watch_later
.config/wtf/log.txt
.config/mpv/scripts/*
.config/mpv/shaders/*
.config/yazi/flavors/*
.config/zellij/plugins/*
.config/zellij/themes/*

!.config/mpv/scripts/.gitkeep
!.config/mpv/shaders/.gitkeep
!.config/yazi/flavors/.gitkeep
!.config/zellij/plugins/.gitkeep
!.config/zellij/themes/.gitkeep
