[core]
  autocrlf = false
  safecrlf = true
  ditor = vim
  excludesfile = ~/.gitignore_global
  attributesfile = ~/.gitattributes
[alias]
  co = checkout
  cm = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[merge]
  keepBackup = false
  tool = extMerge
[mergetool "extMerge"]
  cmd = extMerge "$PWD/$BASE" "$PWD/$REMOTE" "$PWD/$LOCAL" "$PWD/$MERGED"
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false
  trustExitCode = false
[diff]
  external = extDiff
[color]
  ui = true
