[include]
  path = ~/.gitconfig.local
[core]
  autocrlf = input
  safecrlf = false
  editor = nvim
  excludesfile = ~/.gitignore_global
  attributesfile = ~/.gitattributes
  pager = "{ [ $COLUMNS -lt 160 ] && delta || delta --side-by-side -w ${FZF_PREVIEW_COLUMNS:-$COLUMNS}; }"
[alias]
  gr = grep --break --heading --line-number
  type = cat-file -t
  dump = cat-file -p
  resign = "!re() { git rebase --exec 'git commit --amend --no-edit -n -S' -i $1; }; re"
[diff "sqlite3"]
  binary = true
  textconv = "echo .dump | sqlite3"
[merge]
  keepBackup = false
  conflictstyle = zdiff3
[mergetool]
	keepBackup = false
[color]
  ui = true
[push]
  default = simple
  autoSetupRemote = true
[help]
  autocorrect = 1Í
[grep]
  extendRegexp = true
  lineNumber = true
[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[pull]
  rebase = true
[fetch]
  prune = true
[interactive]
  diffFilter = delta --color-only --features=interactive
[delta]
  features = line-numbers decorations
  navigate = true
  syntax-theme = rose-pine
  whitespace-error-style = 22 reverse
  true-color = auto
[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  hunk-header-decoration-style = pink box ul
[init]
  defaultBranch = main
[commit]
	gpgsign = true
[url "git@github.com:"]
  insteadOf = https://github.com/
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
