@import "./themes/rose-pine.css";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: Work Sans;
  font-size: 0.75rem;
}

#waybar {
  background: rgba(0,0,0,0);
}

#bluetooth,
#clock,
#cpu,
#custom-expand-icon,
#custom-gpu,
#custom-logo,
#custom-weather,
#custom-notification,
#memory,
#network,
#pulseaudio,
#workspaces {
  background: @base;
  padding: 0 10px;
}

#custom-gpu {
  font-size: 0.65rem;
}

#memory {
  font-size: 0.65rem;
}

#custom-wireguard-manager {
  font-size: 0.7rem;
  padding: 0 5px;
  background: @base;
}

#custom-wireguard-manager.connected {
  color: @pine;
}

#custom-wireguard-manager.disconnected {
  color: #d7827e; /* rose-pine-dawn @rose */
}

#bluetooth,
#cpu,
#custom-expand-icon,
#custom-gpu,
#custom-notification,
#custom-weather,
#memory,
#network,
#pulseaudio {
  color: #907aa9; /* rose-pine-dawn @iris */
}

#tray {
  background: @surface;
  padding: 0 10px;
}

#privacy {
  background: #faf4ed; /* rose-pine-dawn @base */
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  padding: 0 10px;
  padding-bottom: 2px;
  transition: 0.25s;
}

#privacy-item.screenshare {
  color: #40a02b; /* catppuccin @green */
}

#privacy-item.audio-in {
  color: #d7827e; /* rose-pine-dawn @rose */
}

#custom-logo,
#custom-expand-icon {
  border-radius: 3px 0px 0px 3px;
}

#workspaces,
#custom-weather {
  border-radius: 0px 3px 3px 0px;
}

#workspaces {
  padding-right: 2px;
}

#workspaces button {
  padding: 2px;
  color: @highlightMed;
}

#workspaces button:hover {
  color: @text;
  background: @base;
}

#workspaces button.active {
  color: @gold;
}

#custom-logo {
  background-color: #faf4ed; /* rose-pine-dawn @base */
  color:  @base;
  padding-left: 6px;
  padding-right: 10px;
}

#clock {
  color: @text;
  transition: 0.25s;
}

#custom-expand-icon {
  padding-right: 5px;
}

#custom-weather {
  padding-left: 0;
}

.modules-left {
  padding-top: 5px;
  padding-left: 8px;
}

.modules-right {
  padding-top: 5px;
  padding-right: 8px;
}

tooltip {
  background: @overlay;
  border: 1px solid @surface;
  border-radius: 5px;
  transition: 0.3s;
  opacity: 0.9;
}

tooltip label {
  color: @text;
}
