@import "./themes/rose-pine.css";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: Inter;
  font-size: 0.8rem;
}

#waybar {
  background: rgba(0,0,0,0);
}

#workspaces button {
  padding: 5px;
  color: @highlightMed;
}

#workspaces button:hover {
  color: @text;
  border-radius: 50%;
}

#workspaces button.active {
  color: @gold;
}

#bluetooth,
#clock,
#cpu,
#custom-expand-icon,
#custom-gpu,
#custom-logo,
#custom-weather,
#memory,
#network,
#pulseaudio,
#workspaces {
  background: @base;
  padding: 0 10px;
}

#bluetooth,
#cpu,
#custom-expand-icon,
#custom-gpu,
#custom-weather,
#memory,
#network,
#pulseaudio {
  color: @iris;
}

#tray {
  background: @surface;
  padding: 0 10px;
}

#custom-logo,
#custom-expand-icon {
  border-radius: 20px 0px 0px 20px
}

#workspaces,
#custom-weather {
  border-radius: 0px 20px 20px 0px;
}

#custom-logo {
  background-color: @text;
  color:  @base;
  padding-left: 2px;
  padding-right: 4px;
}

#clock {
  color: @text;
  font-size: 0.75rem;
  transition: 0.25s;
}

#custom-expand-icon {
  padding-right: 5px;
}

#custom-weather {
  padding-left: 0;
}

.modules-left {
  padding-top: 5px;
  padding-left: 8px;
}

.modules-right {
  padding-top: 5px;
  padding-right: 8px;
}

tooltip {
  background: @overlay;
  border: 1px solid @surface;
  border-radius: 5px;
  transition: 0.3s;
  opacity: 0.9;
}
