
* {
  all: unset;
  font-size: 14px;
  font-family: "DM Sans";
  transition: 200ms;
}

trough highlight {
  background: #cdd6f4;
}

scale {
  margin: 0 7px;
}

scale trough {
  margin: 0rem 1rem;
  min-height: 8px;
  min-width: 70px;
  border-radius: 12.6px;
}

trough slider {
  margin: -10px;
  border-radius: 12.6px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  transition: all 0.2s ease;
  background-color: #89b4fa;
}

trough slider:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8), 0 0 8px #89b4fa;
}

trough {
  background-color: #313244;
}

/* notifications */
.notification-background {
  border-radius: 8px;
  margin: 6px;
  background: rgba(250, 244, 237, 0.9);
  color: #575279;
  padding: 0;
}

.notification-background .notification {
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 8px;
}

.notification-background .notification.critical {
  border: 1px solid #e64553;
}

.notification .notification-content {
  margin: 7px;
}

.notification .notification-content overlay {
  /* icons */
  margin: 4px;
}

.notification-content .summary {
  color: #575279;
  font-weight: bold;
}

.notification-content .time {
  color: #907aa9;
}

.notification-content .body {
  color: #575279;
}

.notification-content .image {
  -gtk-icon-filter: none;
  -gtk-icon-size: 32px;
  margin: 0;
}

.notification > *:last-child > * {
  min-height: 3.4em;
}

.notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: #faf4ed;
  background-color: #e64553;
}

.notification-background .close-button:hover {
  background-color: rgba(230, 69, 83, 0.8);
}

.notification .notification-action {
  border-radius: 7px;
  color: #faf4ed;
  margin: 4px;
  padding: 8px;
  font-size: 0.2rem; /* controls the button size not text size*/
}

.notification .notification-action {
  background-color: #c4a7e7;
}

.notification .notification-action:hover {
  background-color: rgba(196, 167, 231, 0.8);
}

.notification .notification-action:active {
  background-color: rgba(196, 167, 231, 0.6);
}

.notification.critical progress {
  background-color: #eb6f92;
}

.notification.low progress,
.notification.normal progress {
  background-color: #31748f;
}

.notification progress,
.notification trough,
.notification progressbar {
  border-radius: 12.6px;
  padding: 3px 0;
}

/* control center */
.control-center {
  border: solid 2px #c4a7e7;
  border-radius: 8px;
  background-color: rgba(25, 23, 36, 0.9);
  color: #e0def4;
  margin: 5px;
  padding: 14px;
}

.control-center .notification-background {
  border-radius: 7px;
  margin: 4px 10px;
  background-color: rgba(38, 35, 58, 0.9);
  border: solid 1px #403d52;
}

.control-center .notification-background .notification {
  border-radius: 7px;
}

.control-center .notification-background .notification.low {
  opacity: 0.8;
}

.control-center .notification-content .summary {
  color: #908caa;
  font-weight: bold;
}

.control-center .notification-content .body {
  color: #e0def4;
}

.control-center .widget-title > label {
  color: #908caa;
  font-size: 1.3em;
}

.control-center .widget-title button {
  border-radius: 7px;
  color: #e0def4;
  background-color: #26233a;
  box-shadow: inset 0 0 0 1px #6e6a86;
  padding: 8px;
}

.control-center .widget-title button:hover {
  background-color: rgba(38, 35, 58, 0.5);
}

.control-center .notification-group {
  margin-top: 10px;
}

scrollbar slider {
  margin: -3px;
  opacity: 0.8;
}

scrollbar trough {
  margin: 2px 0;
}

/* dnd */
.widget-dnd {
  margin-top: 5px;
  border-radius: 8px;
  font-size: 1.1rem;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 8px;
  background: #313244;
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: #c4a7e7;
}

.widget-dnd > switch slider {
  background: #403d52;
  border-radius: 8px;
}

/* mpris */
.widget-mpris-player {
  background: #1f1d2e;
  border-radius: 12.6px;
  color: #e0def4;
}

.mpris-overlay {
  background-color: #1f1d2e;
  opacity: 0.9;
  padding: 15px 10px;
}

.widget-mpris-album-art {
  -gtk-icon-size: 100px;
  border-radius: 8px;
  margin: 0 10px;
}

.widget-mpris-title {
  font-size: 1.2rem;
  color: #e0def4;
}

.widget-mpris-subtitle {
  font-size: 1rem;
  color: #908caa;
}

.widget-mpris button {
  border-radius: 12.6px;
  color: #e0def4;
  margin: 0 5px;
  padding: 2px;
}

.widget-mpris button image {
  -gtk-icon-size: 1.8rem;
}

.widget-mpris button:hover {
  background-color: #313244;
}

.widget-mpris button:active {
  background-color: #45475a;
}

.widget-mpris button:disabled {
  opacity: 0.5;
}

.widget-menubar > box > .menu-button-bar > button > label {
  font-size: 3rem;
  padding: 0.5rem 2rem;
}

.widget-menubar > box > .menu-button-bar > :last-child {
  color: #f38ba8;
}

.power-buttons button:hover,
.powermode-buttons button:hover,
.screenshot-buttons button:hover {
  background: #313244;
}

.control-center .widget-label > label {
  color: #cdd6f4;
  font-size: 2rem;
}

.widget-buttons-grid {
  padding-top: 1rem;
}

.widget-buttons-grid > flowbox > flowboxchild > button label {
  font-size: 2.5rem;
}

.widget-volume {
  padding: 1rem 0;
}

.widget-volume label {
  color: #74c7ec;
  padding: 0 1rem;
}

.widget-volume trough highlight {
  background: #74c7ec;
}

.widget-backlight trough highlight {
  background: #f9e2af;
}

.widget-backlight label {
  font-size: 1.5rem;
  color: #f9e2af;
}

.widget-backlight .KB {
  padding-bottlyl: 1rem;
}

.image {
  padding-right: 0.5rem;
}
